/* IMPOSTAZIONI GENERALI */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    justify-content: center;
    line-height: 1.65;
    color: #393d41;
}

/* Header */
header{
    text-align: center;
}

header div{
    background-color: black;

}
header div img{
    padding: 20px;
    text-align: center;
}   
.background{
    background-image: url(/assets/images/banner.jpg);
}
header div h1{
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    text-align: center;
    padding: 10px;
}
header div p{
    padding: 10px;
}

button{
    background-color: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}
header div a{
    text-decoration: none;
    color:#ffff;
}

/* Main */
main section div h3{
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    text-align: center;
    padding: 10px;

}
main section div p{
    text-align: center;

}

.notebook{
    overflow: hidden;
    margin: 0 auto;
    border-radius: 100%;
    width: 180px;
    background-color: #ccc;
    
}
section div{
    text-align: center;
}    

article{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #f04c2f;
    color: white;
    margin: 30px;
    padding: 18px;
}
article h2{
    font-size: 30px;
}
article blockquote{
    font-size: 12px;
    padding: 10px;
}
article h4{
    font-size: 20px;
}
article p{
    font-size: 10px;
}

/* aside */
aside{
    text-align: center;
}
aside img{
    width: 70%;
    margin: 10px;
    overflow: hidden; 
}
aside h4{
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
}   

aside p{
    text-align: center;
}
/* Footer */
footer{
    background-color: #5acae9;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}
footer h2{
    color: rgb(235, 235, 235);
    padding-bottom: 15px;
    font-size: 30px;
}

footer p{
    color: white;
}

footer hr{
    width: 70%;
}