/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
    
}
p{
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: bolder;
    font-style: italic;
}

#testoAlternato{
    position: relative;
    display: block;
    border: 2px solid black;
    padding: 2rem 12rem 2rem 2rem;
}


span i{
     
    display: inline;
    margin-left: 10px;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    color: darkcyan;
}

i{
    position: absolute;
}

i:nth-of-type(1){
    animation-name: parola;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    
}
i:nth-of-type(2){
    animation-name: parola;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-delay: 2s;
}

i:nth-of-type(3){
    position: relative;
    animation-name: parola;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-delay: 4s;
}
@keyframes parola{
    0% {opacity: 0; transform: translateY(-20px);}
    5%,20% {opacity: 1; transform: translateY(0px);} 
    25%,100% {opacity: 0; transform: translateY(-20px);} 
    
} 
