/* IMPOSTAZIONI GENERALI */
body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
}

/* HEADER */
nav{
    display: flex;
    padding: 1em;
    width: 100%;
    z-index: 10;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    box-shadow: 0 2px 15px #d3d3d3;
    background-color: white;
}
div h1{
    text-align: center;
    font-size: 60px;
}
div p{
    font-size: 20px;
}
.pcimg{
    display: flex;
    flex-direction: row;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    justify-content: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
a{
    text-decoration: none;
}
.text-box h1{
    font-size: 3rem;
} 

.text-box p{
    width: 80%;
}
input[type=button]{
background: rgb(2,0,36);
 background: linear-gradient(297deg, rgba(2,0,36,1) 0%, rgba(104,191,224,1) 100%, rgba(0,212,255,1) 100%);
  color: white;
  padding: 15px 30px;
  margin-right: 30px;
  cursor: pointer;
  font-size: 15px;
  border: none;
}

.text-box{
    color: #fff;
    background-image: url(/assets/images/banner.jpg);
    width: 80%;
    height: 500px;
    text-align:start;
    background-position: center;
    margin-left: 150px;
    
    
  
}
/* MAIN */
main section div{
    color: black;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}
main section div p{
font-size: 15px;
line-height: 2;
}
.i{
    display: flex;
    flex-direction: row;
}

.scrivici{
    background-color: #0c0633;
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.section{
    display: flex;
    justify-content: center;
}

/* FOOTER */
.footer{
    display: flex;
    background-color: rgb(238,238,238);
    flex-direction: row;
    }

/* RESPONSIVE */
